## Assignment 4

### Task 1

#### 1. Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of the given sequence is defined as follows:

#### The moving average sequence has n-k+1 elements as shown below.

#### The moving averages with k=4 of a ten-value sequence (n=10) is shown below

####       i      1   2   3   4    5   6   7   8   9  10
#### ===== == == == == == == == == == ==

#### Input 10 20 30 40 50 60 70 80 90 100
#### y1 25 = (10+20+30+40)/4
#### y2 35 = (20+30+40+50)/4
#### y3 45 = (30+40+50+60)/4
#### y4 55 = (40+50+60+70)/4
#### y5 65 = (50+60+70+80)/4
#### y6 75 = (60+70+80+90)/4
#### y7 85 = (70+80+90+100)/4

#### Thus, the moving average sequence has n-k+1=10-4+1=7 values.

#### Write a function to find moving average in an array over a window:
#### Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [1]:
# import numpy
import numpy as np

# function to calculate the moving average
def mov_avg(list1, k):
        
    # define the number of values in the moving average sequence
    mov_avg_len = len(list1) - k + 1
    
    # Calculate the moving average and print the result
    for i in range(mov_avg_len):
        val = (list1[i] + list1[i+1] + list1[i+2])/k
        print('y'+ str(i+1) + (' '*(i+1))+str(val)+' = '+'('+str(list1[i])+'+'+str(list1[i+1])+'+'+str(list1[i+2])+'+' + ')/'+str(k))
# function call
mov_avg([3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150], 3)

y1 5.0 = (3+5+7+)/3
y2  4.666666666666667 = (5+7+2+)/3
y3   5.666666666666667 = (7+2+8+)/3
y4    6.666666666666667 = (2+8+10+)/3
y5     9.666666666666666 = (8+10+11+)/3
y6      28.666666666666668 = (10+11+65+)/3
y7       49.333333333333336 = (11+65+72+)/3
y8        72.66666666666667 = (65+72+81+)/3
y9         84.0 = (72+81+99+)/3
y10          93.33333333333333 = (81+99+100+)/3
y11           116.33333333333333 = (99+100+150+)/3

### Task 2

#### 1. How-to-count-distance-to-the-previous-zero

#### For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer)

#### create a new column 'Y'

#### Consider a DataFrame df where there is an integer column 'X'

#### import pandas as pd

#### df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [2]:
import pandas as pd
import numpy as np

# define dataframe
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

df_series = df['X']
list_final = list()
prev_i = 0

# calculate the previous zero value
for i in df_series.index:
    if df_series[i] == 0:
        list_final.append(0)
        prev_i = i
    else:
        j = i - prev_i
        list_final.append(j)
        
#Add new column and assign valve        
df['Y'] = list_final

#print dataframe
print(df)

   X  Y
0  7  0
1  2  1
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

#### 2. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [3]:
import random

# define date time index
dateTime_i = pd.DatetimeIndex(freq='B',start='2015',end='2016',closed='left')

# define random numbers
rand_num = np.random.rand(dateTime_i.size)

# create series
final_dateTime = pd.Series(rand_num,index=dateTime_i,name='VALUE')

final_dateTime

2015-01-01    0.953544
2015-01-02    0.736942
2015-01-05    0.876116
2015-01-06    0.348478
2015-01-07    0.956396
2015-01-08    0.516274
2015-01-09    0.724526
2015-01-12    0.864328
2015-01-13    0.907098
2015-01-14    0.567892
2015-01-15    0.172646
2015-01-16    0.104203
2015-01-19    0.166553
2015-01-20    0.177643
2015-01-21    0.631989
2015-01-22    0.323900
2015-01-23    0.111195
2015-01-26    0.513914
2015-01-27    0.037385
2015-01-28    0.739872
2015-01-29    0.692996
2015-01-30    0.805299
2015-02-02    0.531231
2015-02-03    0.104065
2015-02-04    0.084117
2015-02-05    0.955220
2015-02-06    0.837086
2015-02-09    0.069362
2015-02-10    0.162481
2015-02-11    0.520551
                ...
2015-11-20    0.609134
2015-11-23    0.099330
2015-11-24    0.049401
2015-11-25    0.840708
2015-11-26    0.648083
2015-11-27    0.389343
2015-11-30    0.366386
2015-12-01    0.599180
2015-12-02    0.647073
2015-12-03    0.120460
2015-12-04    0.338933
2015-12-07    0.103784
2015-12-08    0.312040
2015-12-09    0.915005
2015-12-10    0.357227
2015-12-11    0.670512
2015-12-14    0.439546
2015-12-15    0.490852
2015-12-16    0.235141
2015-12-17    0.403418
2015-12-18    0.074448
2015-12-21    0.874075
2015-12-22    0.808898
2015-12-23    0.454385
2015-12-24    0.500078
2015-12-25    0.318773
2015-12-28    0.386882
2015-12-29    0.155346
2015-12-30    0.861860
2015-12-31    0.178914
Freq: B, Name: VALUE, Length: 261, dtype: float64

#### 3. Find the sum of the values in s for every Wednesday

In [4]:
# import datetime library
import datetime as dt

s = 0

# calculate the sum by converting date into weekday 
# and comparing it with 2 i.e. Wednesday
for i in final_dateTime.index:
    if dt.datetime(i.year,i.month,i.day).weekday() == 2:
        s = s + final_dateTime[i]
        
# print the sum        
print("Sum of values in s for every Wednesday is {}".format(s))

Sum of values in s for every Wednesday is 27.974866920071243

#### 4. Average For each calendar month

In [5]:
# import calander
import calendar as c

# loop through to find sum
for i in range(1,13):
    s = 0.0
    for j in final_dateTime.index:
        if j.month == i:
            s = s + final_dateTime[i]
    no_days = c.monthrange(j.year,j.month)[1]
    
# calculate average
    avg = s / no_days
    
# print result
    print("Average for {} is : {}".format(c.month_name[i],avg))

Average for January is : 0.5229914001799797
Average for February is : 0.5652359381218363
Average for March is : 0.24730687476767904
Average for April is : 0.6787328158261945
Average for May is : 0.34973392062263897
Average for June is : 0.5141795816956714
Average for July is : 0.641275921377133
Average for August is : 0.6144859624928073
Average for September is : 0.40301978689113527
Average for October is : 0.12252296401496061
Average for November is : 0.07058900249009087
Average for December is : 0.1235718451547511

#### 5. For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [6]:
# resample to group the values
series_resample = final_dateTime.resample('4M',closed='right').max()

df = pd.DataFrame(final_dateTime)

# print the result
for i in series_resample.values:
    print("Date on which highest value occured is : {}".format(df[df['VALUE'] == i].index.tolist()[0]))

Date on which highest value occured is : 2015-01-07 00:00:00
Date on which highest value occured is : 2015-03-10 00:00:00
Date on which highest value occured is : 2015-06-16 00:00:00
Date on which highest value occured is : 2015-11-06 00:00:00