## Assignment 4

### Task 1

#### 1. Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of the given sequence is defined as follows:

#### The moving average sequence has n-k+1 elements as shown below.

#### The moving averages with k=4 of a ten-value sequence (n=10) is shown below

####       i      1   2   3   4    5   6   7   8   9  10
#### ===== == == == == == == == == == ==

#### Input 10 20 30 40 50 60 70 80 90 100
#### y1 25 = (10+20+30+40)/4
#### y2 35 = (20+30+40+50)/4
#### y3 45 = (30+40+50+60)/4
#### y4 55 = (40+50+60+70)/4
#### y5 65 = (50+60+70+80)/4
#### y6 75 = (60+70+80+90)/4
#### y7 85 = (70+80+90+100)/4

#### Thus, the moving average sequence has n-k+1=10-4+1=7 values.

#### Write a function to find moving average in an array over a window:
#### Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [2]:
# import numpy
import numpy as np

# define input list
list1 = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]

# define window size
k = 3

# define the number of values in the moving average sequence
mov_avg_len = len(list1) - k + 1

# Calculate the moving average and print the result
for i in range(mov_avg_len):
    val = (list1[i] + list1[i+1] + list1[i+2])/k
    print('y'+ str(i+1) + (' '*(i+1))+str(val)+' = '+'('+str(list1[i])+'+'+str(list1[i+1])+'+'+str(list1[i+2])+'+' + ')/'+str(k))

y1 5.0 = (3+5+7+)/3
y2  4.666666666666667 = (5+7+2+)/3
y3   5.666666666666667 = (7+2+8+)/3
y4    6.666666666666667 = (2+8+10+)/3
y5     9.666666666666666 = (8+10+11+)/3
y6      28.666666666666668 = (10+11+65+)/3
y7       49.333333333333336 = (11+65+72+)/3
y8        72.66666666666667 = (65+72+81+)/3
y9         84.0 = (72+81+99+)/3
y10          93.33333333333333 = (81+99+100+)/3
y11           116.33333333333333 = (99+100+150+)/3

### Task 2

#### 1. How-to-count-distance-to-the-previous-zero

#### For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer)

#### create a new column 'Y'

#### Consider a DataFrame df where there is an integer column 'X'

#### import pandas as pd

#### df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [3]:
import pandas as pd
import numpy as np

# define dataframe
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

df_series = df['X']
list_final = list()
prev_i = 0

# calculate the previous zero value
for i in df_series.index:
    if df_series[i] == 0:
        list_final.append(0)
        prev_i = i
    else:
        j = i - prev_i
        list_final.append(j)
        
#Add new column and assign valve        
df['Y'] = list_final

#print dataframe
print(df)

   X  Y
0  7  0
1  2  1
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

#### 2. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [4]:
import random

# define date time index
dateTime_i = pd.DatetimeIndex(freq='B',start='2015',end='2016',closed='left')

# define random numbers
rand_num = np.random.rand(dateTime_i.size)

# create series
final_dateTime = pd.Series(rand_num,index=dateTime_i,name='VALUE')

final_dateTime

2015-01-01    0.696113
2015-01-02    0.337040
2015-01-05    0.172392
2015-01-06    0.848399
2015-01-07    0.796393
2015-01-08    0.519602
2015-01-09    0.439635
2015-01-12    0.169959
2015-01-13    0.274828
2015-01-14    0.300126
2015-01-15    0.957322
2015-01-16    0.025417
2015-01-19    0.708434
2015-01-20    0.967327
2015-01-21    0.044995
2015-01-22    0.650490
2015-01-23    0.429242
2015-01-26    0.352596
2015-01-27    0.395456
2015-01-28    0.876380
2015-01-29    0.367828
2015-01-30    0.805561
2015-02-02    0.156211
2015-02-03    0.859735
2015-02-04    0.183559
2015-02-05    0.368924
2015-02-06    0.179435
2015-02-09    0.329842
2015-02-10    0.166607
2015-02-11    0.271106
                ...
2015-11-20    0.656288
2015-11-23    0.515144
2015-11-24    0.971249
2015-11-25    0.533053
2015-11-26    0.544172
2015-11-27    0.562066
2015-11-30    0.245141
2015-12-01    0.204472
2015-12-02    0.552714
2015-12-03    0.741374
2015-12-04    0.604513
2015-12-07    0.588191
2015-12-08    0.857510
2015-12-09    0.992365
2015-12-10    0.757239
2015-12-11    0.813348
2015-12-14    0.425404
2015-12-15    0.181678
2015-12-16    0.078387
2015-12-17    0.498253
2015-12-18    0.899760
2015-12-21    0.729910
2015-12-22    0.825096
2015-12-23    0.134814
2015-12-24    0.013539
2015-12-25    0.238843
2015-12-28    0.906692
2015-12-29    0.698853
2015-12-30    0.741048
2015-12-31    0.318077
Freq: B, Name: VALUE, Length: 261, dtype: float64

#### 3. Find the sum of the values in s for every Wednesday

In [5]:
# import datetime library
import datetime as dt

s = 0

# calculate the sum by converting date into weekday 
# and comparing it with 2 i.e. Wednesday
for i in final_dateTime.index:
    if dt.datetime(i.year,i.month,i.day).weekday() == 2:
        s = s + final_dateTime[i]
        
# print the sum        
print("Sum of values in s for every Wednesday is {}".format(s))

Sum of values in s for every Wednesday is 24.33626323669828

#### 4. Average For each calendar month

In [6]:
# import calander
import calendar as c

# loop through to find sum
for i in range(1,13):
    s = 0.0
    for j in final_dateTime.index:
        if j.month == i:
            s = s + final_dateTime[i]
    no_days = c.monthrange(j.year,j.month)[1]
    
# calculate average
    avg = s / no_days
    
# print result
    print("Average for {} is : {}".format(c.month_name[i],avg))

Average for January is : 0.23919000711851598
Average for February is : 0.11122076594593971
Average for March is : 0.6020895567637108
Average for April is : 0.5651820428526182
Average for May is : 0.35198865277791486
Average for June is : 0.3119990464067348
Average for July is : 0.12609880494237163
Average for August is : 0.1861740344411236
Average for September is : 0.21299248740700047
Average for October is : 0.6793896503373896
Average for November is : 0.017217745405152193
Average for December is : 0.525612614804269

#### 5. For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [7]:
# resample to group the values
series_resample = final_dateTime.resample('4M',closed='right').max()

df = pd.DataFrame(final_dateTime)

# print the result
for i in series_resample.values:
    print("Date on which highest value occured is : {}".format(df[df['VALUE'] == i].index.tolist()[0]))

Date on which highest value occured is : 2015-01-20 00:00:00
Date on which highest value occured is : 2015-05-14 00:00:00
Date on which highest value occured is : 2015-09-08 00:00:00
Date on which highest value occured is : 2015-12-09 00:00:00